.best {
  width: 100%;
  height: 100vh;
  background: url("../img/bg/bg.png") center center no-repeat;	
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}
.best__list {
  width: 95%; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;

  @include tablets {
    width: 90%; 
  }
  @include phones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  }
}
.best__type {
  flex-basis: calc(100% / 3);
  flex-direction: column;
  justify-content: center;
  list-style: none;

  @include phones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -20%;
    }
}
.best__title {
  font-family: "gagalin";
  color: #2f3234;
  font-size: rem(72px);
  text-align: center;
  margin-top: -11%;

  @include phones {
    width: 90%;
    margin-top: -18%;
  }
}
.best__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  @include phones {
    margin-left: 5%;
    width: 75%;
  }
}
.best__main {
  font-family: "lifehack";
  color: #2f3234;
  font-size: rem(24px);
  align-self: center;
  width: 90%;
  text-align: center;

  @include phones {
    align-self: start;
    white-space: nowrap;
    text-align: left;
  }
}
.best__image {
  text-align: center;
  margin-bottom: rem(40px);
  min-height: rem(85px);

  @include phones {
    margin-bottom: 0;
    width: 25%;
  }
}
.best__image-picture {
  @include phones {
    width: 90%;
    height: rem(100px);
  }
}
.best__article {
  font-family: "Ubuntu";
  font-weight: 300;
  color: #2f3234;
  font-size: rem(14px);
  line-height: rem(20px);
  margin-top: rem(16px);
  padding-right: rem(10px);
  text-align: center;

  @include phones {
    text-align: left;
  }
}