.best {
  width: 100%;
  height: 100vh;
  background: url("../img/bg/bg.png") center center no-repeat;	
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.best__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10%;

  @media (max-width: 970px) {
    padding-left: 30px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    margin-right: 10px;
  }
}

.best__type {
  display: flex;
  flex-basis: calc(100% / 3 - 15px);
  flex-direction: column;
  justify-content: center;
  
  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  &:first-child .best__image {
    margin-bottom: rem(35px);

    @media (max-width: 530px) {
      margin-right: -10px;
    }
  }
}

.best__title {
  font-family: "gagalin";
  color: #2f3234;
  font-size: rem(72px);
  text-align: center;
  margin-top: -11%;

  @media (max-width: 400px) {
    margin-top: 0;
  }
}

.best__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;

  @media (max-width: 600px) {
    display: flex;
    text-align: start;
    margin: 0 20px 0 20px;
    flex-basis: 75%;
  }
}

.best__main {
  font-family: "lifehack";
  color: #2f3234;
  font-size: 24px;
  align-self: center;
  width: 100%;
  text-align: center;

  @media (max-width: 600px) {
    display: flex;
    text-align: start;
  }
}

.best__image {
  text-align: center;
  margin-bottom: rem(40px);
  min-height: rem(85px);

  @media (max-width: 600px) {
    margin: 0 auto;
  }

  @media (max-width: 530px) {
    width: 35%;
    margin-right: 10px;
  }
}

.best__article {
  font-family: "Ubuntu";
  font-weight: 300;
  color: #2f3234;
  font-size: 14px;
  line-height: 20px;
  margin-top: rem(16px);

  @media (max-width: 600px) {
    margin-left: 5px;
  }
}