$tablets: 768px;
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

$phones: 480px;
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

.burgers-menu {
  background: url("../img/bg/burgers-list.jpg") center center no-repeat;	
  position: relative;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__left-arrow {
    margin: auto;

    @media (max-width: 1050px) {
      margin-left: 40px;
    }

    @media (max-width: 800px) {
      position: absolute;
      top: 40%;
      left: 1%;
    }

    @media (max-width: 450px) {
      position: absolute;
      top: 40%;
      left: 0;
    }
  }

  &__right-arrow {
    margin: auto;

    @media (max-width: 1050px) {
      margin-right: 40px;
    }

    @media (max-width: 800px) {
      position: absolute;
      top: 40%;
      right: 0;
    }

    @media (max-width: 450px) {
      right: 3px;
    }
  }
}

.burger__container {
  margin: 0 auto;
  width: rem(1000px); 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.burgers-menu__right {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin: auto 8%;

  @media (max-width: 800px) {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
  }

  @media (max-width: 480px) {
    margin-bottom: 200px;
  }
}

.burgers-menu__title {
  font-family: "gagalin";
  font-size: rem(72px);
  line-height: 1;
  color: white;
  padding-bottom: 3%;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
  }

  @media (max-width: 450px) {
    font-size: 50px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.burgers-menu__text {
  font-size: 14px;
  line-height: 1.5;
  color: white;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
}

.burgers-menu__price {
  display: inline-block;
  text-align: bottom;

  @include tablets {
    text-align: center;
    margin-left: 17%;
  }
}

.burgers-menu__price-number {
  font-family: "gagalin";
  font-size: rem(72px);
  color: #e35028;
}

.burgers-menu__price-rub {
  font-family: "gagalin";
  font-size: rem(30px);
  color: #e35028;
}

.burgers-menu__button {
  display: inline-block;
  padding-left: 4%;
  vertical-align: text-bottom;

  @include tablets {
    text-align: center;
    margin: auto;
  }
}

.burgers-menu__button-order {
  display: inline-block;
  font-family: "Ubuntu";
  font-size: rem(13px);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  width: rem(100px);
  height: rem(40px);
  background: #e45028;
  border: 1px solid #e45028;
  border-radius: rem(5px);
  padding: rem(13px) rem(17px);
}

.burgers-menu__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100vh;

  @media (max-width: 800px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
  }

  @media (max-width: 500px) {
    width: 70%;
  }
}

.burgers-menu__structure {
  margin-left: 2%;
  position: absolute;
  top: 15%;
  display: flex;

  @media (max-width: 800px) {
    left: 10%;
    top: 10%;
  }

  @media (max-width: 600px) {
    top: 7%;
  }
}

.burgers-menu__window {
  width: 270px;
  height: 320px;
  background-color: rgba(rgb(248, 242, 242), 0.8);
  border-radius: 2%;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.burgers-menu__window-list {
  display: flex;
  position: relative;
  flex-direction: column;
}

.window-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5% 2% 5%;
}

.window-list-item__ingr {
  font-family: "Ubuntu";
  font-size: rem(14px);
  color: black;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  flex-basis: 50%;
}

.window-list-item__number {
  font-family: "Ubuntu";
  font-size: rem(14px);
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.burgers-menu__calories {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  margin-left: 2%;
  margin-top: 170px;
  
  @media (max-width: 800px) {
    right: 10%;
    top: -7%;
  }

  @media (max-width: 600px) {
    top: -10%;
  }
}

.burgers-menu__picture {
  margin-bottom: 70px;
  width: 100%;
  margin-left: 5%;
  
  @media (max-width: 800px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    margin-bottom: 10px;
  }

  @media (max-width: 480px) {
    margin-top: 230px;
    margin-bottom: 0;
  }
}

.burgers-menu__picture-image {
  width: 100%;
  max-width: 400px;
  margin: 3% 5%;
  transition: all ease 1s;

  @media (max-width: 1000px) {
    max-width: 370px;
    margin: 3% 5%;
  }

  @media (max-width: 600px) {
    max-width: 370px;
  }
}

.burgers-menu__calories-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/logos/kkal.png") center center no-repeat;	
  width: rem(70px);
  height: rem(70px);
}

.burgers-menu__number {
  font-family: "gagalin";
  font-size: rem(20px);
  font-weight: 400;
  color: white;
  padding: 30% 0 0 3%;
}

.burgers-menu__kkal {
  font-family: "gagalin";
  font-size: rem(14px);
  font-weight: 400;
  color: white;
}

.burgers-menu__link {
  font-family: "gagalin";
  font-size: rem(14px);
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(#e35028, .40);
  border: none;
  border-radius: rem(5px);
  padding: rem(13px) rem(20px);
}

.burgers-menu__ingr {
  margin-top: rem(5px);
}

