.burgers-menu {
  background: url("../img/bg/burgers-list.jpg") center center no-repeat;	
  position: relative;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.burger__container {
  margin: 0 auto;
  width: 1000px; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burgers-menu__right {
  width: 50%;
  display: flex;
}
.burgers-menu__right-content {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  margin-left: 8%;
  margin-top: -5%;
}
.burgers-menu__right-arrow {
  margin: auto;
}
.burgers-menu__title {
  font-family: "gagalin";
  font-size: 72px;
  line-height: 1;
  color: white;
  padding-bottom: 8%;
}
.burgers-menu__text {
  font-size: 14px;
  line-height: 1.5;
  color: white;
}
.burgers-menu__price {
  display: inline-block;
  vertical-align: bottom;
}
.burgers-menu__price-number {
  font-family: "gagalin";
  font-size: 72px;
  color: #e35028;
}
.burgers-menu__price-rub {
  font-family: "gagalin";
  font-size: 30px;
  color: #e35028;
}
.burgers-menu__button {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 4%;
}
.burgers-menu__button-order {
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 13px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background: #e45028;
  border: 1px solid #e45028;
  border-radius: 5px;
  padding: 13px 17px 13px 17px;
}
.burgers-menu__right-arrow {
  margin-right: -7%;
}
.burgers-menu__left {
  width: 50%;
  display: flex;
}
.burgers-menu__left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin-right: 5%;
}
.burgers-menu__structure {
  margin-left: 8%;
}
.burgers-menu__left-arrow {
  margin: auto;
  margin-right: -3%;
  padding-bottom: 10px;
}
.burgers-menu__calories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
}
.burgers-menu__picture {
  margin-top: 1%;
}
.burgers-menu__calories-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/logos/kkal.png") center center no-repeat;	
  width: 70px;
  height: 70px;
}
.burgers-menu__number {
  font-family: "gagalin";
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 30% 0 0 3%;
}
.burgers-menu__kkal {
  font-family: "gagalin";
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.burgers-menu__link {
  font-family: "gagalin";
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(#e35028, .40);
  border: none;
  border-radius: 5px;
  padding: 13px 20px 13px 20px;
}
.burgers-menu__ingr {
  margin-top: 5px;
}
