$tablets: 768px;
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}
$phones: 480px;
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}
.burgers-menu {
  background: url("../img/bg/burgers-list.jpg") center center no-repeat;	
  position: relative;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.burger__container {
  margin: 0 auto;
  width: rem(1000px); 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    flex-wrap: wrap;
  }
}
.burgers-menu__right {
  width: 50%;
  display: flex;

  @include tablets {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.burgers-menu__right-content {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  margin-left: 8%;
  margin-top: -5%;

  @include tablets {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
.burgers-menu__right-arrow {
  margin: auto;
}
.burgers-menu__title {
  font-family: "gagalin";
  font-size: rem(72px);
  line-height: 1;
  color: white;
  padding-bottom: 8%;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    text-align: center;
    width: 80%;
  }
}
.burgers-menu__text {
  font-size: rem(14px);
  line-height: 1.5;
  color: white;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: -5%;
  }
}
.burgers-menu__price {
  display: inline-block;
  text-align: bottom;

  @include tablets {
    text-align: center;
    margin-left: 17%;
  }
}
.burgers-menu__price-number {
  font-family: "gagalin";
  font-size: rem(72px);
  color: #e35028;
}
.burgers-menu__price-rub {
  font-family: "gagalin";
  font-size: rem(30px);
  color: #e35028;
}
.burgers-menu__button {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 4%;

  @include tablets {
    text-align: center;
    margin: auto;
  }
}
.burgers-menu__button-order {
  display: inline-block;
  font-family: "Ubuntu";
  font-size: rem(13px);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  width: rem(100px);
  height: rem(40px);
  background: #e45028;
  border: 1px solid #e45028;
  border-radius: rem(5px);
  padding: rem(13px) rem(17px);
}
.burgers-menu__right-arrow {
  margin-right: -7%;

  @include tablets {
    margin-right: 5%;
  }
}
.burgers-menu__left {
  width: 50%;
  display: flex;
}
.burgers-menu__left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin-right: 5%;

  @include tablets {
    width: 80%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.burgers-menu__structure {
  margin-left: 8%;

  @include tablets {
    margin-left: 16%;
  }
}
.burgers-menu__left-arrow {
  margin: auto;
  margin-right: -3%;
  padding-bottom: rem(10px);

  @include tablets {
    margin-left: -20%;
  }
}
.burgers-menu__calories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
  
  @include tablets {
    margin-left: 6%;
  }
}
.burgers-menu__picture {
  margin-top: 1%;

  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
    margin-bottom: 10%;
    margin-left: -40%;
    margin-right: -40%;
  }
}
.burgers-menu__calories-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/logos/kkal.png") center center no-repeat;	
  width: rem(70px);
  height: rem(70px);
}
.burgers-menu__number {
  font-family: "gagalin";
  font-size: rem(20px);
  font-weight: 400;
  color: white;
  padding: 30% 0 0 3%;
}
.burgers-menu__kkal {
  font-family: "gagalin";
  font-size: rem(14px);
  font-weight: 400;
  color: white;
}
.burgers-menu__link {
  font-family: "gagalin";
  font-size: rem(14px);
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(#e35028, .40);
  border: none;
  border-radius: rem(5px);
  padding: rem(13px) rem(20px);
}
.burgers-menu__ingr {
  margin-top: rem(5px);
}
