.comments {
  margin: 0 auto;
  width: 100vw;
  height: 100vh; }

.comments__list {
  width: 1100px;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.comments__hover {
  position: absolute;
  top: 50;
  right: 20;
  left: 20;
  bottom: 0;
  opacity: 0;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  line-height: 1.42; }

.comments__item {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 325px;
  width: 275px; }
  .comments__item:hover .comments__hover {
    opacity: 1; }

.comments__photo-image {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .comments__photo-image:hover {
    opacity: 0.5; }

.comments__name {
  font-family: "gagalin";
  font-size: 14px;
  color: white; }

.comments__text {
  font-style: "Ubuntu";
  font-size: 14px;
  color: white; }

.comments__button {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 13px 10px 13px;
  background: #2f3234;
  border: 1px solid #2f3234; }

.comments__more-info {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500; }
