$tablets: 768px;
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}
$phones: 480px;
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}
.comments {
  width: 100%; 
  height: 100vh;
  background-size: cover;
  background: gray;
}
.container-comments {
  margin: 0 auto;
  width: 100%; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comments__list {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.comments__hover {
  position: absolute;
  top: 15%;
  right: 10%;
  left: 10%;
  bottom: 0;
  opacity: 0;
  transition: .3s;
  line-height: 1.42;
}
.comments__item {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50%;
  width: 25%;

  &:hover {
    .comments__hover {
      opacity: 1;
    }
  }

  @include tablets {
    width: 50%;
    height: 25%;
  }
}
.comments__name {
  font-family: "gagalin";
  font-size: rem(14px);
  color: white;
  padding-bottom: rem(10px);

  @include tablets {
    padding-bottom: 0;
    margin-top: -3%;
    text-align: center;
  }
  @include phones {
    font-size: rem(24px);
    margin-top: 2%;
  }
}
.comments__text {
  font-style: "Ubuntu";
  font-size: rem(14px);
  color: white;
  padding-bottom: rem(7px);

  @include tablets {
    padding-bottom: 0;
    margin-top: 2%;
    text-align: center;
  }
  @include phones {
    display: none;
  }
}
.comments__button {
  display: inline-block;
  border-radius: rem(5px);
  padding: rem(10px) rem(13px);
  background: #2f3234;
  border: rem(1px) solid #2f3234;

  @include tablets {
  display: flex;
  width: 40%;
  justify-content: center;
  margin: auto;
  }
  @include phones {
    display: none;
  }
}
.comments__more-info {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
}
.comments__btn-phone {
  display: none;

  @include phones {
    display: flex;
    border-radius: rem(5px);
    padding: rem(10px) rem(13px);
    background: #2f3234;
    border: rem(1px) solid #2f3234;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 7%;

    .comments__review {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: rem(13px);
      font-weight: 700;
    }
  }
}
.comments__photo {
  width: 100%; 
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.3s;

  &:hover {
    filter: brightness(0.5);
  }
}