.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 90px;
  right: 300px; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-nav__item {
  padding-bottom: 10px;
  -ms-flex-item-align: center;
  align-self: center; }

.main-nav__link {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  text-decoration: none; }

.main-nav__item--active {
  display: inline-block;
  position: relative;
  border: 2px solid white;
  background-color: transparent;
  padding: 6px;
  border-radius: 50%; }
