$tablets: 768px;
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

$phones: 480px;
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}
.main-nav {
  position: fixed;
  top: rem(90px);
  right: rem(100px);

  @include tablets {
    display: none;
  }
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-nav__item {
  padding-bottom: 5%;
  align-self: center;
}
.main-nav__link {
  display: inline-block;
  width: rem(6px);
  height: rem(6px);
  border-radius: 50%;
  background: white;
  text-decoration: none;
}
.main-nav__item--active {
  display: inline-block;
  position: relative;
  border: rem(2px) solid white;
  background-color: transparent;
  padding: rem(5px);
  border-radius: 50%;
}