.menu-bar {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg/menu.png") center center no-repeat;	
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}
.menu__title {
  font-family: 'gagalin';
  position: absolute;
  left: 10%;
  bottom: 46%;
  font-size: rem(72px);
  color: white;
  display: flex;
  align-self: self-start;
}
.menu-accordion {
  position: absolute;
  right: 0;
  width: 90%; 
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.menu-accordion__list {   
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.menu-accordion__photo {
  width: 100%; 
  height: 100%;
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  flex: rem(1 0 80px);
}
.menu-accordion__drop {
  display: flex;
  background: rgba(#2f3234, .70);
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 10% 5%;
  transition: .3s;
  line-height: 2;
  overflow: hidden;

  &:hover {
    opacity: 1;
  }
}
.menu-accordion__elem {   
  display: flex;
  width: rem(80px);
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    width: 60%;
    transition: 0.3s;

    .menu-accordion__photo {
      width: 15%;
    }
    .menu-accordion__drop {
      opacity: 1;
    }
    .menu-accordion__text {
      display: flex;
    }
    .menu-accordion__link-text {
      color: #f9b43b;
    }
  }
}
.menu-accordion__link-text {
  width: 100%;
  font-family: 'gagalin';
  font-size: rem(40px);
  color: white;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  position: absolute;
  bottom: rem(45px);
}
.menu-accordion__text {
  font-style: "Ubuntu";
  font-size: rem(14px);
  color: white;
}

