html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
html {
  @include tablets {
    font-size: rem(15px);
  }
  @include phones {
    font-size: rem(13px);
  }
}
body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}