@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 13px; } }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px; }

ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }
