@function rem($px) {
  @return $px / 16px + 0rem;
}

$tablets: 768px;
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

$phones: 480px;
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}
html {
  @include tablets {
    font-size: 15px;
  }
  @include phones {
    font-size: 13px;
  }
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
button, 
button:active, 
button:focus {
    outline: none;
}